<div class="py2 post-footer">
    <img src="{{ site.baseurl }}/images/me.jpeg" alt="Angelo Huang" class="avatar" />
    <p>
      Angelo is a Student in Computer Science that always loved to write any kind of software, because he loves challenges.
      Recently he started to develop a passion for Algorithms and Data structures field.
    </p>
    <!-- 
        TODO: decidere riguardo twitter
        <p>
      Follow him on <a href="https://twitter.com/todo">Twitter</a>.
    </p> -->

    <p>
        Follow him on <a href="https://github.com/flecart">Github</a>.
    </p>
  </div>
  